body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
 .sinbedit {
           border-left: none;
           border-right: none;
           border-top: none;
           border-bottom-color: burlywood;
       }
  .sinbnew {
           border-left: none;
           border-right: none;
           border-top: none;
           border-bottom-color: blue;
       }
  .new2 {
          
     background: none!important;

       }
 .sinb {
           border-left: none;
           border-right: none;
           border-top: none;
           border-bottom-color: lightsteelblue;
     background: none!important;

       }
 .fina{
     height: initial!important;
         padding-top: 2px!important;
    padding-bottom: 2px!important;}
   input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none !important;
            -moz-appearance: none !important;
            appearance: none !important;
            margin: 0 !important;
        }

